@external  .lightface*, .bottomLeft, .topRight, .bottomRight, .topLeft, .centerRight, .centerLeft, .topCenter, .bottomCenter, .loading, .hiddenButton, .lightFaceMessageBoxImage;

.lightface {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	position: absolute;
	top: -9000px;
	left: -9000px;
}

.lightface td {
	padding: 0;
	margin: 0;
	background-color: transparent;
	vertical-align: top;
	font-family: 'Verdana';
	font-size: 11px;
}

@sprite .lightface .centerLeft, .lightface .centerRight {
	width: 10px;
	height: auto;
	gwt-image: "background";
	background-repeat: repeat-y;
}

.lightface .topLeft,.lightface .topRight,.lightface .bottomLeft,.lightface .bottomRight
	{
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
}

@sprite .lightface .topLeft {
	gwt-image: "topLeft";
	background-position: top left;
}

@sprite .lightface .topRight {
	gwt-image: "topRight";
	background-position: top right;
}

@sprite .lightface .bottomLeft {
	gwt-image: "bottomLeft";
	background-position: bottom left;
}

@sprite .lightface .bottomRight {
	gwt-image: "bottomRight";
	background-position: bottom right;
}

@sprite .lightface .topCenter,.lightface .bottomCenter {
	width: auto;
	height: 10px;
	gwt-image: "background";
	background-repeat: repeat-x;
}

.lightface .lightfaceContent {
	background-color: #fff;
	border: 1px solid #555;
	position: relative;
}

.lightface .loading {
	display: block;
	margin: 10px auto;
}

.lightface .lightfaceContent .lightfaceTitle {
	font-size: 14px;
	color: #fff;
	background-color: #6d84b4;
	border: 1px solid #3b5998;
	font-weight: bold;
	margin: -1px;
	margin-bottom: 0;
	padding: 5px 10px;
}

.lightface .lightfaceContent .lightfaceDraggable {
	cursor: move;
}

.lightface .lightfaceContent .lightfaceMessage {
	overflow: auto;
	margin: 0;
	position: relative;
	padding: 5px 10px;
	border: 1px solid #fff;
}

.lightface .lightfaceContent .lightfaceMessage h3,.lightface .lightfaceContent .lightfaceMessage h4,.lightface .lightfaceContent .lightfaceMessage h5,.lightface .lightfaceContent .lightfaceMessage h6
	{
	margin-top: 6px;
}

.lightface .lightfaceContent .lightfaceFooter {
	background-color: #f2f2f2;
	border-top: 1px solid #ccc;
	padding: 6px 10px;
	text-align: right;
}

.lightface .lightfaceFooter label {
	background-color: #ebebeb;
	font-size: 13px;
	border-style: solid;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 6px 2px 6px;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	border-width: 1px;
	margin-left: 3px;
	border-color: #999;
	line-height: normal !important;
	display: inline-block;
}

.lightface .lightfaceFooter label input {
	background: none;
	border: 0 !important;
	cursor: pointer;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 1px 0 2px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	font-size: 13px;
	border: 2px outset buttonface;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	color: #444;
	font-size: 13px;
}
/* ie6 hacks */
* html .lightface .lightfaceFooter label input {
	border: 0;
}

.lightface .lightfaceFooter label.lightfaceblue {
	border-color: #29447E #29447E #1A356E;
	background-color: #5b74a8;
}

.lightface .lightfaceFooter label.lightfaceblue.lightfacefocusblue {
	background-color: #5a7cc2;
	background-image: none;
}

.lightface .lightfaceFooter label.lightfacegreen {
	border-color: #3B6E22 #3B6E22 #2C5115;
	background-color: #69A74E;
}

.lightface .lightfaceFooter label.lightfacegreen.lightfacefocusgreen {
	background-color: #78c656;
	background-image: none;
}

.lightface .lightfaceFooter label.lightfaceblue input,.lightface .lightfaceFooter label.lightfacegreen input
	{
	color: #fff;
}

.lightface .hiddenButton {
	visibility: hidden;
}

@sprite .lightface .lightfaceOverlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	gwt-image: "loader";
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}

.lightface .lightfaceMessageBox {
	overflow: auto;
	padding: 10px 10px;
	min-height: 20px;
	position: relative;
}

@sprite .lightface .lightFaceMessageBoxImage {
	overflow: hidden;
	padding: 0;
	gwt-image: "loader";
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}

.lightface .lightFaceMessageBoxImage img {
	display: block;
}